body {
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-size: cover;
}


#main{
position:relative;
}
div#first{
text-align: center;
width: 1366px;
height: 768px;  /*using my own screen resolution for now because using width/height 100% was not working, same with background: cover*/
}



.topbar {
    background-color: #333;
    overflow: hidden;
}

.topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topbar a:hover {
    background-color: lightgrey;
    color: black;
}


button#become-button.action-button{
    font-size: 20px;
    color: white;
    padding: 12px;
    background-color: cornflowerblue;
    border: 1px solid #ababab;
    border-radius: 5px;
    font-weight: lighter;
    cursor: pointer;
    display: inline-block;
}

button#become-button.action-button:hover{
    font-size: 21px;
    color: white;
    padding: 12px;
    background-color: lightsteelblue;
    border: 1px solid #ababab;
    border-radius: 5px;
    font-weight: lighter;
    cursor: pointer;
    display: inline-block;
}


/*
Modal stuff taken from previous assignments, feel free to change/personalize
*/

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
  }
  
  #become-tutor-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
  }
  
  .hidden {
    display: none;
  }
  
  .modal-dialog {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
  }
  
  .modal-header {
    position: relative;
    padding: 10px 20px;
  }
  
  .modal-header h3 {
    margin: 0;
    font-size: 28px;
  }
  
  #modal-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .post-input-element {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .post-input-element > label {
    font-weight: 600;
    flex: 1 75px;
    margin-right: 10px;
  }
  
  .post-input-element input {
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #aaa;
  }
  
  .post-fieldset {
    flex: 1 100%;
    border: 1px solid #ababab;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
  }
  
  #modal-cancel, #modal-accept {
    margin-right: 20px;

  }
  
  #modal-cancel {
    color: #333;
    background-color: #fff;
  }
  
  #modal-cancel:hover {
    background-color: #eee;
  }
  
  .error-container {
    font-family: "Roboto Slab", serif;
    text-align: center;
  }
  
  .error-container h2 {
    font-size: 128px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  
  .error-container h3 {
    font-size: 32px;
    margin: 0;
  }