<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%7CStratum2WebBold%7CRufinaStencilBold" media="all">
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
<script src="/postTemplate.js" charset="utf-8" defer></script>
<link type="text/css" rel="stylesheet" href="/style.css">
<script src="index.js" charset="utf-8" defer></script>

<div class="topbar">
 <a class="active" href="/">Home</a>
 <a href="/tutors">Tutors</a>
 <a href="/about">About</a>
 </div>

 <body>
    {{{body}}}
 </body>

</html>