<section class="story-banner">
    <div class="banner-container">
        <h1 class="banner-title">
            <p>Our Story</p>
        </h1>
        <h5 class="banner-subtitle">
            <p>The need for tutors.</p>
        </h5>
    </div>
</section>
<main id="about-content">
    <div class="about-content-container">
        <div class="about-content-image">
            <img src="/Tutoring-Stock-Photo.jpg" alt="Tutor Stock">
        </div>
        <div class="about-content-text">
            <p>
                At Beavers Get B's, we know how difficult it can be to make through those tough courses and finding a tutor
                can be really difficult on top of that. That's why we created this space. To provide a spot where anyone
                can just hop on and find the right tutor for their needs. Beavers Get B's was founded by three OSU students
                who saw a need for easily finding the right tutor for the job. We provide a place where tutors can offer
                their services and students can easily find them as well as rate them, so they know their getting their
                money's worth.
            </p>
        </div>
    </div>
</main>