<div id="main">
  {{#unless check}}
  <div id="first">
    <div class="become-container">
        <button id="become-button" class="action-button">Become a tutor</button>
    </div>
         <section id='posts'>

        {{#each photos}}
          {{>postTemplate}}
        {{/each}}

     </section>
  </div>

  <div id="modal-backdrop" class="hidden"></div>
  <div id="become-tutor-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Tell us about yourself!</h3>
      <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
    </div>

    <div class="modal-body">

      <div class="post-input-element">
        <label for="post-text-input">First/last name</label>
        <input type="text" id="post-text-input"></input>
      </div>

      <div class="post-input-element">
        <label for="post-subject-input">Subject</label>
        <input type="text" id="post-subject-input">
      </div>

      <div class="post-input-element">
        <label for="post-price-input">Rate/hour ($)</label>
        <input type="number" id="post-price-input">
      </div>

      <div class="post-input-element">
            <label for="post-phone-input">Phone number</label>
            <input type="text" id="post-phone-input">
      </div>

      <div class="post-input-element">
        <label for="post-url-input">Photo URL</label>
        <input type="text" id="post-url-input">
      </div>

      <div class="post-input-element">
          <label for="post-description-input">Profile</label>
          <textarea rows="4" cols="50" id="post-description-input"></textarea>
        </div>
      </div>

      <div class="modal-footer">
            <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
            <button type="button" id="modal-accept" class="action-button">Create Post</button>
          </div>
    </div>

    </div>
  </div>

  <button class="filter-button">Filter tutors </button>
  <aside class="filter-content">
    <div class="filter-container">
      <label for="filter-name" class="filter-name-label">Name</label>
      <input type="text" id="filter-input-name">

    </div>


    <div class = "filter-container">
      <label for="filter-subject" class="filter-name-label">Subject</label>
      <input type="text" name="filter-subject" id="filter-input-subject" placeholder="">
    </div>


    <div class = "filter-container">
      <label for="filter-price" class="filter-name-label">Cost</label>

      <input type="number" class = "price-filter" name="filter-min" id="filter-input-min" placeholder="min">
      <input type ="number" class = "price-filter" name="filter-max" id = "filter-input-max" placeholder="max">
    </div>



    <button class="bottom-filter-button" id="accept-filter-button">Accept</button>
    <button class="bottom-filter-button" id="clear-filter-button">Clear</button>
  </aside>

  {{/unless}}
  

  {{#if check}}
   <section id='posts'>
    {{>tutorProfile photos}}
    </section>
  {{/if}}

</div>
