<section class="home-banner">
    <div class="banner-container">
        <h1 class="banner-title">
            <p>Beavers Get B's</p>
        </h1>
        <h5 class="banner-subtitle">
            <p>Find the tutor you need.</p>
        </h5>
    </div>
</section>
<main id="home-content">
    <div class="recent-tutors">
        <div class="recent-tutors-container">
            <h1 class="home-title">
                <p>Recently Added Tutors</p>
            </h1>
            <div class="recent-tutors-list">
                {{ recent-tutors }}
            </div>
        </div>
    </div>
    <div class="top-tutors">
        <div class="top-tutors-container">
            <h1 class="home-title">
                <p>Top Rated Tutors</p>
            </h1>
            <div class="top-tutors-list">
                {{ top-tutors }}
            </div>
        </div>
    </div>
</main>